body {
background-color: rosybrown;
font-family: Arial, sans-serif;
}
p {
  margin: 5px;
}
.business-card {
padding:20px;
margin-top:100px;
font-size: 16px;
margin-right: auto;
margin-left: auto;
text-align: center;
background-color:rgb(208, 221, 226);
width:300px;
}
.profile-image {
  max-width:100%;
}
a {
  text-decoration:none;
}
